
// Define a collection of colors
$light-blue: #268c99;
$deep-green: #17464d;
$light-grass: #379936;

$white-ghost: #f8f8ff;
$white-snow: #fffafa;
$linen: #faf0e6;
$light-slate-gray: #789;
$dark-grey: #333;
$charcoal: #212121;

// Define in which context a color should be used
$deep-blue: blue;
$text-color: #212121;

$main-background-color: #50a59d;
$button-background-color: #900c3f;
$button-color: white;
$button-border-color: none;

$error-color: #f47878;

$primary-background: #993669;
$primary-light-background: $white-ghost;

$text-light: $white-snow;
$text-dark: $dark-grey;
