@import './variables';
@import "~bulma";
@import './skeleton';

main {
  height: 100%;
}

h2 {
  font-size: 48px;
  color: white;
}

.input-error {
  color: $error-color;
  margin: 0 0 0.2rem 0;
}

.has-upper-auto-margin {
  margin-top: auto;
}

.has-medium-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;

  padding: 0 1em;

  width: 100%;
}

.has-top-margin {
  margin-top: 50px;
}

.has-vertical-margin {
  margin-top: 2em;
  margin-bottom: 2em;
}

.is-centered-in-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
