@import './variables';
@import "~bulma";
@import './skeleton';

main {
  height: 100vh;
}

h2 {
  font-size: 48px;
  color: white;
}

.input-error {
  color: $error-color;
  margin: 0 0 0.2rem 0;
}

.has-upper-auto-margin {
  margin-top: auto;
}

.has-top-margin {
  margin-top: 50px;
}
