@import '../../styles/variables';

.gamemodeselect {
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
  grid-gap: 1em;
}

.gamemodepreview {
  background-color: $primary-light-background;
  border: $linen solid 2px;
  border-radius: 5px;

  color: darken($primary-background, 30%);

  padding: 1em;

  &:hover,
  &:focus {
    background-color: lighten($primary-light-background, 10%);
  }

  h3 {
    color: inherit;
  }
}
