@import '../styles/variables';

.genericlayout {
  background-color: $primary-background;

  min-height: 100vh;
  margin: 0;

  padding: 0;
}

.navbar {
  align-items: center;
  background-color: transparent;

  display: flex;

  justify-content: space-between;

  padding: 1em;

  > .title {
    margin-bottom: 0;
  }

  > .exitbutton {
    margin-left: auto;
  }
}

.pagecontent {
  box-sizing: border-box;
  padding: 0.5rem 0;

  &.is-centered {
    max-width: 50rem;
    margin: 0 auto;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
